/* POPUP PERFIL */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Oculto por padrão */
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
}

.popup__container,
.popup__content {
  background-color: white;
  border-radius: 10px;
  padding: 36px;
  max-width: 430px;
  width: 100%;
  max-height: 100%;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  font-family: "Inter", Arial, sans-serif !important;
}

.popup__titulo {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 54px;
  color: #000000;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 36px;
  color: #000000;
}

.popup__error_visible {
  font-size: 12px;
  color: red;
  margin-bottom: 13px;
  transition: 0.3s;
  display: block;
  opacity: 1;
}

.popup__input_type_error {
  border-bottom: 2px solid red;
}

.popup__button {
  margin-top: 48px;
  width: 100%;
  height: 50.15px;
  background-color: #000000; /* cor de fundo em vez de imagem */
  color: #ffffff; /* texto visível */
  font-size: 18px; /* tamanho do texto */
  font-weight: 400; /* espessura do texto */
  border: 1px solid #000000;
  border-radius: 2px; /* opcional: cantos arredondados */
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.popup__button:hover {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
}

.popup__button_disabled {
  margin-top: 48px;
  width: 100%;
  height: 50.15px;
  background-color: #000000; /* cor de fundo em vez de imagem */
  color: #ffffff; /* texto visível */
  font-size: 18px; /* tamanho do texto */
  font-weight: 400; /* espessura do texto */
  border: 1px solid #000000;
  border-radius: 2px; /* opcional: cantos arredondados */
  cursor: not-allowed;
  opacity: 0.2;
}

.popup__fechar-botao {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url("../images/Close_Icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__fechar-botao:hover {
  opacity: 0.6;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 30px;
}

.popup__input:focus {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.popup__input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .popup__container,
  .popup__content {
    background-color: white;
    border-radius: 10px;
    padding: 36px;
    max-width: 300px;
    width: 100%;
    max-height: 100%;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }

  .popup__fechar-botao {
    position: absolute;
    top: -40px;
    right: 0px;
    width: 26px;
    height: 26px;
    background-image: url("../images/Close_Icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  /* Botão Salvar */
  .popup__button {
    margin-top: 46px;
    width: 100%;
    height: 46px;
    background-color: #000000; /* cor de fundo em vez de imagem */
    color: #ffffff; /* texto visível */
    font-size: 18px; /* tamanho do texto */
    font-weight: 400; /* espessura do texto */
    border: 1px solid #000000;
    border-radius: 2px; /* opcional: cantos arredondados */
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .popup__button:hover {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.8;
  }

  .popup__button_disabled {
    margin-top: 46px;
    width: 100%;
    height: 46px;
    background-color: #000000; /* cor de fundo em vez de imagem */
    color: #ffffff; /* texto visível */
    font-size: 14px; /* tamanho do texto */
    font-weight: 400; /* espessura do texto */
    border: 1px solid #000000;
    border-radius: 2px; /* opcional: cantos arredondados */
    cursor: not-allowed;
    opacity: 0.2;
  }

  .popup__image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
  }

  .popup__error_visible {
    font-size: 12px;
    color: red;
    margin-bottom: 13px;
    transition: 0.3s;
    display: block;
    opacity: 1;
  }

  .popup__input_type_error {
    border-bottom: 2px solid red;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* POPUP ADD CARD */

.popup-add-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Oculto por padrão */
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
}

.popup-add-card_opened {
  display: flex;
}

.popup-add-card__container {
  background-color: white;
  border-radius: 10px;
  padding: 36px;
  max-width: 430px;
  width: 100%;
  max-height: 100%;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  font-family: "Inter", Arial, sans-serif !important;
}

.popup-add-card__titulo {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 54px;
  color: #000000;
}

.popup-add-card__entrada-error_ativo {
  font-size: 12px;
  color: red;
  margin-bottom: 13px;
  transition: 0.3s;
  display: block;
  opacity: 1;
}

.popup-add-card__entrada_tipo_erro {
  border-bottom: 2px solid red;
}

/* Botão Salvar */
.popup-add-card__criar-botao {
  margin-top: 48px;
  width: 100%;
  height: 50.15px;
  background-color: #000000; /* cor de fundo em vez de imagem */
  color: #ffffff; /* texto visível */
  font-size: 18px; /* tamanho do texto */
  font-weight: 400; /* espessura do texto */
  border: 1px solid #000000;
  border-radius: 2px; /* opcional: cantos arredondados */
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.popup__button--confirm {
  width: 100%;
  height: 50px;
  background-color: #000000; /* cor de fundo em vez de imagem */
  color: #ffffff; /* texto visível */
  font-size: 18px; /* tamanho do texto */
  font-weight: 400; /* espessura do texto */
  border: 1px solid #000000;
  border-radius: 2px; /* opcional: cantos arredondados */
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.popup-add-card__criar-botao:hover {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
}

.popup-add-card__criar-botao_inativo {
  margin-top: 48px;
  width: 100%;
  height: 50.15px;
  background-color: #000000; /* cor de fundo em vez de imagem */
  color: #ffffff; /* texto visível */
  font-size: 18px; /* tamanho do texto */
  font-weight: 400; /* espessura do texto */
  border: 1px solid #000000;
  border-radius: 2px; /* opcional: cantos arredondados */
  cursor: not-allowed;
  opacity: 0.2;
}

.popup-add-card__fechar-botao {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url("../images/Close_Icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup-add-card__fechar-botao:hover {
  opacity: 0.6;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.popup-add-card__entrada {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.popup-add-card__entrada:focus {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.popup-add-card__entrada::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px;
}

.popup__entrada:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .popup-add-card__container {
    background-color: white;
    border-radius: 10px;
    padding: 36px;
    max-width: 300px;
    width: 100%;
    max-height: 100%;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }

  .popup-add-card__fechar-botao {
    position: absolute;
    top: -40px;
    right: 0px;
    width: 26px;
    height: 26px;
    background-image: url("../images/Close_Icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  /* Botão Salvar */
  .popup-add-card__criar-botao,
  .popup__button--confirm {
    margin-top: 46px;
    width: 100%;
    height: 46px;
    background-color: #000000; /* cor de fundo em vez de imagem */
    color: #ffffff; /* texto visível */
    font-size: 18px; /* tamanho do texto */
    font-weight: 400; /* espessura do texto */
    border: 1px solid #000000;
    border-radius: 2px; /* opcional: cantos arredondados */
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .popup-add-card__criar-botao:hover {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.8;
  }

  .popup-add-card__criar-botao_inativo {
    margin-top: 46px;
    width: 100%;
    height: 46px;
    background-color: #000000; /* cor de fundo em vez de imagem */
    color: #ffffff; /* texto visível */
    font-size: 14px; /* tamanho do texto */
    font-weight: 400; /* espessura do texto */
    border: 1px solid #000000;
    border-radius: 2px; /* opcional: cantos arredondados */
    cursor: not-allowed;
    opacity: 0.2;
  }

  .ppopup-add-card__entrada-error_ativo {
    font-size: 12px;
    color: red;
    margin-bottom: 13px;
    transition: 0.3s;
    display: block;
    opacity: 1;
  }

  .popup-add-card__entrada_tipo_erro {
    border-bottom: 2px solid red;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* POPUP IMAGEM */

.popup-img {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.popup-img__opened_img {
  visibility: visible;
  opacity: 1;
  /* display: flex; */
}

.popup-img__content_content_image {
  position: relative;
  display: flex;
  flex-direction: column;
  background: none;
  max-width: 75vw;
  max-height: 75vh;
}

.popup-img__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url("../images/Close_Icon.png") no-repeat center/contain;
  border: none;
  cursor: pointer;
}

.popup-img__close:hover {
  opacity: 0.6;
}

.popup-img__image {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.popup-img__caption {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  max-width: 75vw;
  word-wrap: break-word;
  text-align: left;
}

@media (max-width: 448px) {
  .popup-img__close {
    position: absolute;
    top: -40px;
    right: 0px;
    width: 26px;
    height: 26px;
    background: url("../images/Close_Icon.png") no-repeat center/contain;
    border: none;
    cursor: pointer;
  }
}
