.profile__avatar-container {
  position: relative;
  cursor: pointer;
}

.profile__avatar-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover .profile__avatar-edit {
  opacity: 1;
}

.profile {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}

.profile__title,
.profile__description {
  overflow: hidden; /* Esconde o texto que sai dos limites */
  text-overflow: ellipsis; /* Adiciona "..." no final */
  white-space: nowrap; /* Impede quebra de linha */
  max-width: 400px; /* Define largura máxima */
}

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover; /* mantém a proporção e corta o excesso */
  border-radius: 50%;
}

.profile__info {
  display: grid;
  padding-left: 30px;
  column-gap: 18px;
  height: 81px;
}

.profile__title {
  grid-column: 1/2;
  font-family: Inter;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}

.profile__edit-button {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 15px;
}

.profile__description {
  grid-column: 1/3;
  grid-row: 2/3;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 16px;
}

.profile__image-button {
  width: 10px;
  height: 10px;
}

.profile__square {
  width: 24px; /* largura */
  height: 24px; /* altura */
  border: 2px solid #ffffff; /* borda */
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* centraliza vertical */
  cursor: pointer;
}

.profile__square:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 150px; /* largura */
  height: 50px; /* altura */
  border: 2px solid #ffffff; /* borda */
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* centraliza vertical */
  cursor: pointer;
}

.profile__add-image {
  width: 22px;
  height: 22px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__retangule {
  margin-left: auto;
}

@media (min-width: 449px) and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover; /* mantém a proporção e corta o excesso */
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .profile__info {
    display: grid;
    column-gap: 18px;
    height: 81px;
    margin-bottom: 36px;
    justify-items: center;
    padding: 0;
  }

  .profile__retangule {
    margin: auto;
  }

  .profile__title {
    grid-column: 1/2;
    font-family: Inter;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
  }

  .profile__edit-button {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 15px;
  }

  .profile__image-button {
    width: 10px;
    height: 10px;
  }

  .profile__square {
    width: 24px; /* largura */
    height: 24px; /* altura */
    border: 2px solid #ffffff; /* borda */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center; /* centraliza vertical */
    cursor: pointer;
  }

  .profile__square:hover {
    opacity: 0.6;
  }

  .profile__description {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 16px;
  }

  .profile__add-button {
    width: 150px; /* largura */
    height: 50px; /* altura */
    border: 2px solid #ffffff; /* borda */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center; /* centraliza vertical */
    cursor: pointer;
  }

  .profile__add-image {
    width: 22px;
    height: 22px;
  }

  .profile__add-buttono:hover {
    opacity: 0.6;
  }

  .profile__retangule {
    margin-left: auto;
  }
}

@media (max-width: 448px) {
  .profile__title,
  .profile__description {
    overflow: hidden; /* Esconde o texto que sai dos limites */
    text-overflow: ellipsis; /* Adiciona "..." no final */
    white-space: nowrap; /* Impede quebra de linha */
    max-width: 200px; /* Define largura máxima */
  }

  .profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover; /* mantém a proporção e corta o excesso */
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .profile__info {
    display: grid;
    column-gap: 14px;
    height: 81px;
    margin-bottom: 36px;
    justify-items: center;
    padding: 0;
  }

  .profile__retangule {
    margin: auto;
  }

  .profile__title {
    grid-column: 1/2;
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
  }

  .profile__edit-button {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 15px;
  }

  .profile__description {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 14px;
  }

  .profile__image-button {
    width: 10px;
    height: 10px;
  }

  .profile__square {
    width: 24px; /* largura */
    height: 24px; /* altura */
    border: 2px solid #ffffff; /* borda */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center; /* centraliza vertical */
  }

  .profile__square:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  .profile__add-button {
    width: 150px; /* largura */
    height: 50px; /* altura */
    border: 2px solid #ffffff; /* borda */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center; /* centraliza vertical */
    cursor: pointer;
  }
  .profile__add-image {
    width: 22px;
    height: 22px;
  }

  .profile__add-button:hover {
    opacity: 0.6;
  }

  .profile__retangule {
    margin-left: auto;
  }
}

@media (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover; /* mantém a proporção e corta o excesso */
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .profile__info {
    display: grid;
    column-gap: 18px;
    height: 77px;
    margin-bottom: 36px;
    justify-items: center;
    padding: 0;
  }

  .profile__retangule {
    margin: auto;
  }

  .profile__title {
    grid-column: 1/2;
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 48px;
    letter-spacing: 0%;
    margin: 0;
  }

  .profile__edit-button {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .profile__description {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .profile__image-button {
    width: 10px;
    height: 10px;
  }

  .profile__square {
    width: 24px; /* largura */
    height: 24px; /* altura */
    border: 2px solid #ffffff; /* borda */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center; /* centraliza vertical */
    cursor: pointer;
  }

  .profile__square:hover {
    opacity: 0.6;
  }

  .profile__add-button {
    width: 150px; /* largura */
    height: 50px; /* altura */
    border: 2px solid #ffffff; /* borda */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center; /* centraliza vertical */
    cursor: pointer;
  }

  .profile__add-image {
    width: 22px;
    height: 22px;
  }

  .profile__add-button:hover {
    opacity: 0.6;
  }

  .profile__retangule {
    margin-left: auto;
  }
}
